.buttons {
  display: none;
  padding: 10px;
  text-align: center;
}

.forecast {
  width: 200px;
  height: 200px;
  background: lightgrey;
  float: left;
  margin: 10px;
  text-align: center;
  color: #333;
}
